body {
font-family: Arial, sans-serif;
background-color: #fff;
margin: 20px;
}
.container {
background: white;
width: 50%;
height: 50%;
margin: 0px auto;
}
.flipflop-block {
display: flex;
flex-wrap: wrap;
justify-content: center;
}
