body {
font-family: Arial, sans-serif;
background-color: #fff;
margin: 20px;
}
.container {
background: white;
width: 50%;
height: 50%;
margin: 0px auto;
}
.flipflop-block {
display: flex;
flex-wrap: wrap;
justify-content: center;
}
@media only screen and (max-width: 760px) {
    .container {
        margin-top: 20vh;
        padding: 15px 0;
    }
    .button-container {
        flex-direction: column;
    }
    .btn, .main-button {
        margin-bottom: 15px;
    }
}
